:root{
	--primary-color: #14426F;
	--secondary-color: #84C3BF;
	--body-color: #999;
	--body-font: 'Avenir';
	--heading-font: 'muller', sans-serif;
	--font-scale: calc(100% + .25vw);
}

/* Teal #84C3BF */
/* Navy #14426F */

@font-face {
    font-family: 'muller';
    src: url('muller-extrabold-demo-webfont.woff2') format('woff2'),
    url('muller-extrabold-demo-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


html{
	font: 100%/1.15 sans-serif;
	font-family: 'Avenir', sans-serif;
	font-family: 'Muller', sans-serif;
	background-color: #fff;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}


img{
	max-width: 100%;
	height: auto;
}

body {
	margin: 0 auto;
}

h1, h2{
	font-family: var(--heading-font);
}

h3,
h4,
h5,
h6,
p{
	font-family: var(--body-font);
}


.heading{
  text-align: center;
	background: var(--secondary-color);
	margin: 0;
	padding-top: 3em;
	padding-bottom: 6em;
}

.heading h1{
	color: white;
	font-family: var(--heading-font) bold;
	font-size: 4.3em;
	margin: 0;
	padding-bottom: .5em;
	padding-top: 2em;
	text-shadow: 1px 1px #14426F, 2px 2px #14426F,
							 3px 3px #14426F, 4px 4px #14426F,
							 5px 5px #14426F, 6px 6px #14426F,
							 7px 7px #14426F, 8px 8px #14426F;
}

.squiggle{
	background: url('../img/squiggle.svg') repeat-x;
	width: 60%;
	margin: 0 auto;
	height: .7em;
	margin-bottom: 2em;
}


.heading h6, h3 {
	color: white;
}

.heading h3{
	padding-bottom: 2em;
	font-size: 1em;
	margin: 0;
	letter-spacing: .1em;
}

/*---- nav beginning ----*/

nav{
	position: relative;
	text-align: center;
	/*border: 1px solid #000;*/
	padding: 1em 0;
	background: var(--primary-color);
}

nav ul{
	list-style: none;
	padding-left: 2.5em;
	margin: 0;
	overflow: hidden;
	text-decoration: none;
	font-family: var(--body-font);
}

nav details li{
	display: inline;
	margin: 0 1.3em;
}

nav li a{
	display: inline-block;
}

nav summary{
	cursor: pointer;
	visibility: hidden;
}

nav summary b{
	width: 100%;
	visibility: visible;
	padding-bottom: 0;
	color: white;
	margin: none;
}

nav details{
	float: left;
	width: 33.33%;
	/*border: 1px solid #000;*/
}

nav a{
	text-decoration: none;
	color: white;
	font-family: var(--body-font);
	font-weight: bolder;
}

nav details[open] a{
	color: var(--primary-color);
}

nav details[open]{
	padding-bottom: 2em;
}

nav details ul{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #ccc;
	padding: .5em 0;
	z-index: 0;
	padding-left: .5em;
}

nav details[open] ul{
	z-index: 1;
}

#news summary b{
	border-right: 1px solid white;
	padding-right: 2.5em;
}

#gear summary b{
	border-right: 1px solid white;
	padding-right: 2.5em;
}

#races summary b{
	padding-right: 2.5em;
}


/*----nav end----*/

#main{
	color: var(--body-color);
	margin: 0 .9em;
	margin-top: 1em;
}

#subheading{
	margin: 0 .7em;
}

#subheading h2{
	color: var(--primary-color);
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 0;
}

#subheading hr{
	border-top: 5px solid var(--primary-color);
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding-bottom: 1em;
}

#main details {
	display: block;
	overflow: hidden;
	margin-bottom: 1em;
	padding-bottom: 1em;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

#main p{
	font-size: .8em;
}


#main summary h4{
	margin-top: -.01em;
	display: block;
	color: var(--body-color);
	padding-bottom: .5em;
	font-size: 1em;
	margin-bottom: .5em;
}

#main details {

	/*
width: 20%;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	box-shadow: 0px 2px 5px #555;
 */
}


#main summary::before p{
	display: inline-block;
	}


#main summary::-webkit-details-marker{
	display: none;
}

/* first media query */


@media (min-width: 30em){

	body{
		font-size: 101%;
		font-size: var(--font-scale);
	}


}

@media (min-width: 50em){

body{
	display: flex;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
	flex-direction: column;
}

main{
	display: flex;
}

main section{
	padding: 1em;
}

#subheading{
	visibility: hidden;
	overflow: hidden;
	margin: 0;
	height: 0;
}

#subheading hr{
	width: 20%;
	margin: 0;
}

#menu{
		order: 1;
	}

.heading{
	order: 2;
}

#main{
	order: 3;
}

nav{
	text-align: left;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav details{
	width: 13%;
	padding: 0;
}

nav details ul li{
	margin-right: 1.5em;
}

nav details ul{
	margin-left: -.4em;
}

}

/* second media query */

@media (min-width: 60em){

	body{
		font-size: 125%;
		font-size: var(--font-scale);
	}

}
